.background-image {
  background-image: linear-gradient(
      rgba(8, 30, 8, 0.8),
      rgba(0, 10, 0, 0.6)
    ), url('../img/sample_store.jpg');
  z-index: 1;
  background-size: cover !important;
}

#logo a span { 
  position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;

  /* edit: added z-index */
  z-index: 1;

  /* edit: fixes overlap error in IE7/8, 
     make sure you have an empty gif */
  background-image: url('empty.gif');
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

.store-address {
	float: right;
}

.ratings-count {
	font-size: 12px;
}

.star-ratings-css {
	unicode-bidi: bidi-override;
	color: rgb(197, 197, 197);
	font-size: 25px;
	height: 25px;
	width: 100px;
	position: relative;
	padding: 0px;
	text-shadow: rgb(162, 162, 162) 0px 1px 0px;
}

.star-ratings-css-top {
	color: rgb(255, 255, 0);
	padding: 0px;
	position: absolute;
	z-index: 1;
	display: block;
	top: 0px;
	left: 0px;
	overflow: hidden;
}

.star-ratings-css-bottom {
	padding: 0px;
	z-index: 0;
}

#best-deal {
	background: rgb(247, 247, 247);
}

#best-deal {
	padding: 7em 0px;
}

#best-deal .item-block {
	margin-bottom: 3em;
	float: left;
}

#best-deal .item-block h3 {
	font-size: 20px;
}

#best-deal .item-block p:last-child {
	margin-bottom: 0px;
}

.fh5co-property {
	background: rgb(255, 255, 255);
	text-align: left;
	width: 100%;
	float: left;
	box-shadow: rgba(0, 0, 0, 0.498039) 4px 11px 35px -14px;
}

.fh5co-property .fh5co-property-specification {
	border-top: 1px solid rgb(240, 240, 240);
	background: rgb(247, 247, 247);
	padding: 15px 30px;
	font-size: 13px;
	margin-bottom: 0px;
}

.fh5co-property .fh5co-property-specification>span {
	margin-right: 10px;
}

.fh5co-property .fh5co-property-specification>span strong {
	color: green;
}

.fh5co-property .fh5co-property-innter>h2 strong {	
  z-index: 2;
	color: orange;
	font-family: sherif;
	  background: inherit;
  background-attachment: fixed;
}

.fh5co-property .fh5co-property-innter {
	padding: 15px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	height: 270px;
}

.fh5co-property .fh5co-property-innter p {
	color: darkgoldenrod;
	font-size: 12px;
	font-weight: 700;
}

.fh5co-property .fh5co-property-innter p:last-child {
	margin-bottom: 0px;
}

.fh5co-property .fh5co-property-innter h3 {
	margin-bottom: 20px;
}

.fh5co-property .fh5co-property-innter h3 a:hover, .fh5co-property .fh5co-property-innter h3 a:active, .fh5co-property .fh5co-property-innter h3 a:focus {
	text-decoration: none;
}

.fh5co-property .price-status {
	margin-bottom: 20px;
	color: 	orange;
}

a {
	color: green;
	padding-right: 7px;
}

.pagination a {
	background: none;
	border: none !important;
	color: gray !important;
}

.pagination a:hover, .pagination a:focus, .pagination a:active {
	background: none !important;
}

.pagination>li>a {
	margin: 0px 2px;
	font-size: 18px;
	background: none;
	height: 50px;
	width: 50px;
	line-height: 50px;
	display: table-cell;
	vertical-align: middle;
	padding: 0px !important;
	border-radius: 50% !important;
}

.pagination>li>a:hover {
	color: rgb(0, 0, 0);
	background: rgb(230, 230, 230) !important;
}

.pagination>li.disabled>a {
	background: none;
}

.pagination>li.active>a {
	box-shadow: rgba(0, 0, 0, 0.498039) 4px 11px 35px -14px;
	background: darkgreen !important;
	color: rgb(255, 255, 255) !important;
}

.pagination>li.active>a:hover {
	cursor: pointer;
	background: rgb(65, 164, 243) !important;
}