.small_heading_shadowed_text {
  color: rgba(33, 206, 153, 0.82);
  font-size: 50px;
  font-weight: 500;
  letter-spacing: .05em;
  font-family: Cambria, Georgia, serif;
  text-shadow:
    1px 1px 0px rgba(0, 8, 0, 0),
    2px 2px 0px rgba(47, 49, 49, 0.52);
}

.large_heading_shadowed_text {
  padding-bottom: 4.3%;
  padding-top: 200px;
  text-align: center;
  font-weight: 500;
  font-size: 100px;
  color: rgba(33, 206, 153, 0.82);
  font-family: Cambria, Georgia, serif;

  letter-spacing: .05em;
    text-shadow:
      3px 3px 0px rgba(0, 8, 0, 0),
      4px 3px 0px rgba(47, 49, 49, 0.52);
}
